body{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}
.container{
    display:flex;
    width:960px;
    height:960px;
    flex-wrap:wrap;
    border:1px solid black;
}
.row{
    width:960px;
    display:flex;
    flex:1 1 auto;
}
.square{
    /*border:1px solid black;*/
    flex:1 1 auto;
}

.hovered-red{
    background-color:red;
    opacity:"0.0";
}
.hovered-green{
    background-color:green;
    opacity:"0.0";
}
.hovered-blue{
    background-color:blue;
    opacity:"0.0";
}