body{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}
.container{
    display:flex;
    width:960px;
    height:960px;
    flex-wrap:wrap;
    border:1px solid black;
}
.row{
    width:960px;
    display:flex;
    flex:1 1 auto;
}
.square{
    /*border:1px solid black;*/
    flex:1 1 auto;
}

.hovered-red{
    background-color:rgb(255 0 0);
    opacity:1.0;
}
.hovered-green{
    background-color:rgb(0 255 0);
    opacity:1.0;
}
.hovered-blue{
    background-color:rgb(0 0 255);
    opacity:1.0;
}
.trail{
    background-color: black;
    opacity:0.1;
}